In [1]:
import pandas as pd

In [2]:
def map_tokens(lines):
    
    # Preprocess (following unnest_tokens)
    lines = [line.lower() for line in lines]
    punctuation ="\"#$%&\'()+,-/:;<=>@[\]^_`{|}~.?!«»—"
    translator = str.maketrans({key: " " for key in punctuation})
    lines = [line.translate(translator) for line in lines]
    
    # Make container
    text_map = []
    
    # Map tokens
    for i, line in enumerate(lines):
        temp = [(i, j, k) for j, k in enumerate(line.split())]
        text_map.extend(temp)

    return text_map

In [3]:
poem = """Cui dono lepidum novum libellum
arida modo pumice expolitum?
Corneli, tibi: namque tu solebas
meas esse aliquid putare nugas.
Iam tum, cum ausus es unus Italorum
omne aevum tribus explicare cartis...
Doctis, Iuppiter, et laboriosis!
Quare habe tibi quidquid hoc libelli—
qualecumque, quod, o patrona virgo,
plus uno maneat perenne saeclo!"""

In [4]:
texts = poem.split('\n')
print(texts)

['Cui dono lepidum novum libellum', 'arida modo pumice expolitum?', 'Corneli, tibi: namque tu solebas', 'meas esse aliquid putare nugas.', 'Iam tum, cum ausus es unus Italorum', 'omne aevum tribus explicare cartis...', 'Doctis, Iuppiter, et laboriosis!', 'Quare habe tibi quidquid hoc libelli—', 'qualecumque, quod, o patrona virgo,', 'plus uno maneat perenne saeclo!']

In [5]:
token_maps = map_tokens(texts)

In [6]:
df = pd.DataFrame(token_maps, columns = ['line', 'position', 'word'])

In [7]:
df.head()

   line  position      word
0     0         0       cui
1     0         1      dono
2     0         2   lepidum
3     0         3     novum
4     0         4  libellum