<a href="https://colab.research.google.com/github/aashu1328/Natural-language-Processing/blob/master/NLP_Regex_8Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import re

In [0]:
def find(str):
  list = []
  list = re.findall(r"\b[0-9]{10}\b", str)
  return list

In [6]:
find(' yiy893893829832 9820031143')

['9820031143']

In [7]:
find('company no is 8173219860 and landline is 2173 6664')

['8173219860']

In [0]:
def find_email(str):
  list=[]
  list=st = re.findall('\S+@\S+',str)
  return list

In [11]:
find_email('r No. email- panda.prasad@gmail.com')

['panda.prasad@gmail.com']

In [0]:
import pandas as pd
df=pd.read_csv('/content/data_yozoco.csv')

In [13]:
df.head()

      p_no__001  ...                                               text
0  9.822342e+09  ...   Vardhaman Kochar\nSadhana Kochar\n9822342076\...
1  9.370237e+09  ...   I Tarachand\n9370237313\nBALAJI\n7972464762\n...
2  9.186576e+09  ...   Manan Mathur\nRelationship Manager - Sales\n+...
3  9.188889e+09  ...   Help Ever Hurt Never....\nRahul Gholap\nManag...
4  9.425326e+08  ...   तক ई\nतसुणम\n1.& SONS\nCANVASING AGENT\nNAYA ...

[5 rows x 15 columns]

In [20]:
find_email(df.person_name[3])

['shivament.pune@gmail.com', 'property.junction27@gmail.com']