<a href="https://colab.research.google.com/github/aashu1328/Natural-language-Processing/blob/master/NLP_4_Sentiments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from google.colab import  files
files=files.upload()

Saving full-corpus.csv to full-corpus (1).csv

In [0]:
import io 
df=pd.read_csv(io.BytesIO(files['full-corpus.csv']))

In [0]:
# sentiment analyser
 from textblob import TextBlob
 testimonial = TextBlob("Its fun to do coding !")
 Z=testimonial.sentiment

In [5]:
Z[0]

0.375

In [6]:
df.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [7]:
test= TextBlob(df.TweetText[0])
z1=test.sentiment 
z1.polarity

0.0

In [0]:
df['SENTI']= df['TweetText'].apply(lambda x:(TextBlob(x).sentiment)[0])

In [9]:
df.head()

   Topic Sentiment  ...                                          TweetText     SENTI
0  apple  positive  ...  Now all @Apple has to do is get swype on the i...  0.000000
1  apple  positive  ...  @Apple will be adding more carrier support to ...  0.500000
2  apple  positive  ...  Hilarious @youtube video - guy does a duet wit...  0.393750
3  apple  positive  ...  @RIM you made it too easy for me to switch to ...  0.541667
4  apple  positive  ...  I just realized that the reason I got into twi...  0.200000

[5 rows x 6 columns]

In [0]:
def labels(float):
  label = ' '
  if (float>0.0):
    label='positive'
  elif (float==0):
    label='neutral'
  elif (float<0.0):
    label='negative'
  return label

In [0]:
df['Labels']=df['SENTI'].apply(lambda x :labels(x),1)

In [12]:
df['Labels']

0        neutral
1       positive
2       positive
3       positive
4       positive
          ...
5108     neutral
5109    positive
5110    negative
5111     neutral
5112     neutral
Name: Labels, Length: 5113, dtype: object

In [13]:
from sklearn.metrics import confusion_matrix
confusion_matrix(df.Sentiment,df.Labels)

array([[   0,   61, 1366,  262],
       [   0,  234,  171,  167],
       [   0,  201, 1213,  919],
       [   0,   38,  124,  357]])

In [14]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

True

In [15]:
sid = SentimentIntensityAnalyzer()
sid.polarity_scores(df.TweetText[0])

{'compound': 0.0, 'neg': 0.0, 'neu': 1.0, 'pos': 0.0}

In [16]:
sid = SentimentIntensityAnalyzer()
df["analyse"] = df.apply(lambda x: sid.polarity_scores(x.TweetText),axis=1)
df['analyse']

0       {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
1       {'neg': 0.0, 'neu': 0.801, 'pos': 0.199, 'comp...
2       {'neg': 0.0, 'neu': 0.591, 'pos': 0.409, 'comp...
3       {'neg': 0.0, 'neu': 0.814, 'pos': 0.186, 'comp...
4       {'neg': 0.0, 'neu': 0.791, 'pos': 0.209, 'comp...
                              ...
5108    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
5109    {'neg': 0.0, 'neu': 0.7, 'pos': 0.3, 'compound...
5110    {'neg': 0.167, 'neu': 0.833, 'pos': 0.0, 'comp...
5111    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
5112    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
Name: analyse, Length: 5113, dtype: object

In [0]:
def max_value(dict):
  return (max(dict,key = dict.get))

In [0]:
df['maximum']=df.apply(lambda x:max_value(x.analyse),axis=1)
#df.head()

In [19]:
df['maximum']

0            neu
1            neu
2       compound
3            neu
4            neu
          ...
5108         neu
5109         neu
5110         neu
5111         neu
5112         neu
Name: maximum, Length: 5113, dtype: object